div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;

}

.subdiv{
    background-image: url("../../assets/Map.svg");
    width: 360px;
    height: 460px;
    top: 107px;
    margin: 0;
    padding: 0;

}

div h1{
    font-size: 48px;
}

img{
    width: 25px;
    height: 25px;
    top: 112px;
    left: 292px;
    
}

