@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Questrial&display=swap');


.header{
    background-image:  linear-gradient(to right, #1E90FF, #00008B);
    width: 100%;
    padding: 1.25rem 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 48px;
    font-family: 'Questrial', sans-serif;

}

.subdiv{
    background-image:  linear-gradient(to right, #1E90FF, #00008B);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 3rem;
    margin-top: -1px;
}

img{
    width: 25px;
    height: 25px;
    top: 112px;
    left: 292px;

}


/*width: 360px
height: 80px
top: 43px
border: 1px, 0px, 1px, 0px
*/